In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-07-24 03:02:36,-46.6000,168.3333,45.09,77,9,1.70
1,1,Saint George,US,2022-07-24 02:58:36,37.1041,-113.5841,98.64,20,88,3.00
2,2,Yerbogachen,RU,2022-07-24 03:02:37,61.2767,108.0108,75.54,60,85,7.56
3,3,Grindavik,IS,2022-07-24 03:02:37,63.8424,-22.4338,48.67,93,75,6.91
4,4,Mataura,NZ,2022-07-24 03:00:34,-46.1927,168.8643,47.48,68,3,0.47

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=2.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Yerbogachen,RU,2022-07-24 03:02:37,61.2767,108.0108,75.54,60,85,7.56
8,8,Bathsheba,BB,2022-07-24 03:02:38,13.2167,-59.5167,81.05,85,3,14.65
13,13,Palmer,US,2022-07-24 03:02:40,42.1584,-72.3287,78.39,72,33,4.36
14,14,Platanos,GR,2022-07-24 03:02:40,37.6667,21.6167,76.69,35,0,5.12
15,15,Avera,US,2022-07-24 03:02:40,33.1940,-82.5271,80.13,66,34,6.38
17,17,Albany,US,2022-07-24 03:00:46,42.6001,-73.9662,78.57,65,39,2.44
19,19,Berdigestyakh,RU,2022-07-24 03:02:42,62.0989,126.6992,78.69,48,18,2.86
23,23,Atuona,PF,2022-07-24 03:00:36,-9.8000,-139.0333,77.25,73,32,16.64
42,42,Paka,MY,2022-07-24 03:02:49,4.6374,103.4368,84.20,71,93,5.99
45,45,Harindanga,IN,2022-07-24 03:03:49,22.0383,88.3214,80.46,88,100,8.10

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [32]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2     Yerbogachen      RU     75.54  61.2767  108.0108
8       Bathsheba      BB     81.05  13.2167  -59.5167
13         Palmer      US     78.39  42.1584  -72.3287
14       Platanos      GR     76.69  37.6667   21.6167
15          Avera      US     80.13  33.1940  -82.5271
17         Albany      US     78.57  42.6001  -73.9662
19  Berdigestyakh      RU     78.69  62.0989  126.6992
23         Atuona      PF     77.25  -9.8000 -139.0333
42           Paka      MY     84.20   4.6374  103.4368
45     Harindanga      IN     80.46  22.0383   88.3214

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Yerbogachen,RU,75.54,61.2767,108.0108,
8,Bathsheba,BB,81.05,13.2167,-59.5167,Atlantis Hotel
13,Palmer,US,78.39,42.1584,-72.3287,Wedgewood Motel
14,Platanos,GR,76.69,37.6667,21.6167,Hotel Kronio
15,Avera,US,80.13,33.1940,-82.5271,
...,...,...,...,...,...,...
537,Sangar,RU,76.91,63.9242,127.4739,
540,North Myrtle Beach,US,80.06,33.8160,-78.6800,Avista Resort
546,Tehri,IN,77.95,30.3833,78.4833,The Reindeer Resort Kanatal
549,Tezu,IN,83.98,27.9167,96.1667,Circuit House
551,Naze,JP,85.12,28.3667,129.4833,Shishime Hotel

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))